.att { font-size: 11px; text-align: center; }
.att a { color: hsl(228, 45%, 44%); }
/*
body{
background-color: hsl(233, 47%, 7%);
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center
padding: 10%;
}

*/
.container{
    /*border-radius:20px; */
    background-color: hsl(233, 47%, 7%);
    max-width: 1440px;
    
    margin: 0 auto;
 
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 100px 75% 100px;
    grid-template-areas:
    'mtop mtop'
    'textbox imagebox'
    'mbottom mbottom'
    
    
}
.mtop{
    grid-column-start: 1;
    grid-column-end: 3;  
}
.mbottom{
    grid-column-start: 1;
    grid-column-end: 3;  
}
.textbox{
    /*order: 2; */
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px ;
    justify-self: right;
    background-color: hsl(244, 38%, 16%);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.imagebox{
    /*order: 1;*/
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px ;
    justify-self: left;
    background: hsl(277, 64%, 61%);;
    max-width: 80%;
}
img{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px ;
   width: 100%;
   height: 100%;
   opacity: 50%;
}
.titletextbox{
    order: 1;
    text-align: left;
    color: hsl(0, 0%, 100%);
    padding: 20px;
}
span{
    color:hsl(277, 64%, 61%);
}
h2{
    color: hsla(0, 0%, 100%);
}
.maintextbox{
    order: 2;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 20px;
}
.statstextbox{
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.6);
    padding: 20px;
}
.box1{
    width: 33%;
    text-align: left;
    order: 1;
}
.box2{
    width: 33%;
    text-align: left;
    order: 2;
}

.box3{
    width: 33%;
    text-align: left;
    order: 3;
        }
        
